<div class="container">
<div class="intro">
    <p class="P1">03. SPACE LAUNCH 101</p>
</div>
<div class="tech-content grid-2">
    <div class="tech-image">
        <img src={{image}} alt="">
    </div>
    <div class="tech-info grid-3">
        <ul class="tech-links-list" *ngFor="let techItem of tech">
            <li><a [routerLink]="['/tech',techItem.name]" (click)="changeTech(techItem.id)">{{techItem.id}}</a></li>
        </ul>
        <div class="tech-info-content">
            <p class="P2">THE TERMINOLOGY</p>
            <p class="H2">{{name}}</p>
            <p class="P2">{{desc}}</p>
        </div>
    </div>
</div>
</div>