<div class="container">
<div class="intro">
    <p class="P1">02. MEET YOUR CREW</p>
</div>
<div class="grid-2">
    <div class="crew-image">
        <img src="/assets/crew/image-anousheh-ansari.png" alt="">
    </div>
    <div class="crew-info section">
        <div class="info">
        <p class="P5">FLIGHT ENGINEER</p>
        <p class="H2">ANOUSHEH ANSARI</p>
        <P class="P2">Ansari Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space.</P>
        <div class="navigate-dots" (click)="clickDot($event)">
            <div class="dot" data-id="1" ></div>
            <div class="dot" data-id="2" ></div>
            <div class="dot" data-id="3" ></div>
            <div class="dot" data-id="4" ></div>
        </div>
        </div>
    </div> 
</div>
</div>