<div class="container grid-2">
    <div class="pick-section section">
        <p class="P1">01. PICK YOUR DESTINATION</p>
        <img src="/assets/destination/image-mars.png" alt="">
    </div>
    <div class="planet-section section">
        <ul class="planet-list">
            <li><a href="">Moon</a></li>
            <li><a href="">Mars</a></li>
            <li><a href="">Titan</a></li>
            <li><a href="">Europa</a></li>
        </ul>
        <div class="planet-info">
            <div class="planet-info-content">
            <p class="H1">MARS</p>
            <p class="P2">Don't forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It’s two and a half times the size of Everest!</p>
            </div><hr>
            <div class="planet-info-stats grid-2">
                <div class="distance">
                    <p class="P2">AVG DISTANCE</p>
                    <p class="P4">225 MIL KM</p>
                </div>
                <div class="time">
                    <p class="P2">EST TRAVEL TIME</p>
                    <p class="P4">9 MONTHS</p>
                </div>
            </div>
        </div>
    </div>
</div>
