.container{
    padding:3rem 2rem 0 2rem;
    background-image: url('/assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100;
    width: 100;
    color: white;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.pick-section img{
    width:50%;
    height: 100%;
}
.planet-list{
   display: inline-flex;
}
.planet-list li{
    padding-right: 2rem;
    text-align: center;
}
.planet-info{
    text-align: center;
}
.planet-info-stats div{
    padding-bottom: 1rem;
}
hr{
    margin: 2rem 0;   
}

@media screen and (min-width:768px) {
    .container{
        padding: 6rem;
        height: 100vh;
        overflow: hidden;
    }
    .planet-section{
       padding: 6rem 0;
       text-align: left;
    }
    .planet-info{
        text-align: left;
    }
    .img{
        display: grid;
        padding: 4rem 0;
    }
    .pick-section img{
        margin: auto;
        width:100%;
        height: 100%;
    }
}