<div class="container grid-2">
    <div class="pick-section section">
        <p class="P1">01. PICK YOUR DESTINATION</p>
        <img src={{img}} alt="">
    </div>
    <div class="planet-section section" >
        <ul class="planet-list" *ngFor="let planet of planetList">
            <li><a (click)="goPlanet(planet.id)" [routerLink]="['/destination',planet.name]">{{planet.name}}</a></li>
        </ul>
        <div class="planet-info">
            <div class="planet-info-content">
            <p class="H1">{{name}}</p>
            <p class="P2">{{desc}}</p>
            </div><hr>
            <div class="planet-info-stats grid-2">
                <div class="distance">
                    <p class="P2">AVG DISTANCE</p>
                    <p class="P4">{{distance}}</p>
                </div>
                <div class="time">
                    <p class="P2">EST TRAVEL TIME</p>
                    <p class="P4">{{travel}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
