<div class="container grid-2">
    <div class="section-space section">
        <p class="P1">SO YOU WANT TO TRAVEL TO </p>
        <p class="H1">SPACE</p>
        <p class="P2">Let's face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience.</p>
    </div>
    <div class="section-explore section">
        <div class="explore">
            <p class="P3">EXPLORE</p>
        </div>
    </div>
</div>
